<div class="form-wrapper">
  <%= render partial: "shared/error", locals: { obj: @user } %>
  <%= form_for @user do |f| %>
    <div class="form-group">
    <%= f.text_field :name, class: "form-control text-input", placeholder: "Name" %>
    </div>
    <div class="form-group">
    <%= f.email_field :email, class: "form-control text-input", placeholder: "Email" %>
    </div>
    <% if @user.new_record? %>
      <div class="form-group">
        <%= f.password_field :password, class: "form-control text-input", placeholder: "パスワード" %>
      </div>
      <div class="form-group">
        <%= f.password_field :passowrd_confirmation, class: "form-control text-input", placeholder: "パスワード（確認）" %>
      </div>    
      <% end %>
      <%= f.submit "Submit", class: "btn btn-outline-primary" %>
      <% end %>
</div>